<style>
body { 
font-family: Arial, sans-serif;
text-align: center;
justify-content: center;
background-color: #F8F3D9
}
.container {
max-width: 400px;
margin: auto; 
padding: 20px; 
border: 1px solid #ccc; 
border-radius: 8px; 
justify-content: center;
background-color: #F8F3D9;
border:2px solid #504B38;

}
.container h2{
  color: #504B38;
}

#rectangleInputs{
    align-items: center;
    width: 93.2%;
}
button{
    color: #504B38;
    background-color: #B9B28A;
    font-size: 25px;
}


input, select, button {
 margin: 10px; 
 padding: 8px; 
 width: 100%; 
border: 1px solid black;
}
</style>